<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.dribbble.com/users/297873/screenshots/8073931/media/7d0dee822daca7201af0dcce1821a721.jpg);">
  <div class="container">
    <h1>Welcome to Mister Cocktail!</h1>
</div>
</div>



<h1>My cocktails</h1>
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    <% @cocktails.each do |cocktail|%>
    <%= link_to cocktail.name, cocktail_path(cocktail)  %>
    <% end %>
  </div>
</div>

<div>
<a><%= link_to 'Add a new cocktail', new_cocktail_path, class: "btn btn-ghost" %>
</div>
